header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color, #6200ea);
  color: white;
  padding: 1rem 2rem;
}

.logo {
  height: 50px;
  margin-right: 1rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 300;
}
